.header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 70px;
    max-width: 95%;
    margin: 40px 85px;
}

.header img{
    width: 200px;
}

@media screen and (max-width: 650px) {
    .header {
        max-width: 95%;
        max-width: 90%;
        margin: 40px 40px;
   }
   .header img{
        width: 150px;
   }
}

@media screen and (max-width: 550px) {
    .header {
        max-width: 90%;
        margin: 5px 20px;
   }
   .header img{
        width: 100px;
   }
}